<form name="addForm" novalidate>
    <!--Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope-->
    <div class="form-group">
        <label for="username">Id
            <span class="badge">All fields required</span>
        </label>
        <input type="text" class="form-control" id="username" placeholder="area51" ng-model="mapCtrl.formData.username" required>
    </div>

    <!--Submit Creates An User but only if the Form has been fully filled.-->
    <button type="submit" class="btn btn-danger btn-block" ng-click="mapCtrl.createPolygon()" ng-disabled="addForm.$invalid">Submit</button>
    <br>
    <div align="center">
        <button type="button" class="btn btn-success btn-md " ng-click="mapCtrl.goTo('Add Points')">Add Points</button>
        <button type="button" class="btn btn-warning btn-md " ng-click="mapCtrl.goTo('Add LineStrings')">Add LineStrings</button>
    </div>
</form>