<form name="addForm" novalidate>
    <!--Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope-->
    <div class="form-group">
        <label for="username">Id
            <span class="badge">All fields required</span>
        </label>
        <input type="text" class="form-control" id="username" placeholder="OldandGold" ng-model="mapCtrl.formData.username" required>
    </div>
    <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" value="39.500" ng-model="mapCtrl.formData.latitude" readonly>
    </div>
    <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="mapCtrl.formData.longitude" readonly>
    </div>

   <!--Submit Creates An User but only if the Form has been fully filled.-->
    <button type="submit" class="btn btn-danger btn-block" ng-click="mapCtrl.createPoint()" ng-disabled="addForm.$invalid">Submit</button>
    <br>
    <div align="center">
        <button type="button" class="btn btn-success btn-md " ng-click="mapCtrl.goTo('Add LineStrings')">Add LineStrings</button>
        <button type="button" class="btn btn-warning btn-md " ng-click="mapCtrl.goTo('Add Polygons')">Add Polygons</button>
    </div>
</form>