<!-- Creates Form -->
<form name="searchPointsForm" class="fadeIn">
    <h4 align="center">Close Points</h4>

    <div class="form-group">
        <label for="latitude">Your Latitude</label>
        <input type="text" class="form-control" id="latitude" placeholder="39.5" ng-model="queryCtrl.formData.latitude" readonly>
    </div>
    <div class="form-group">
        <label for="longitude">Your Longitude</label>
        <input type="text" class="form-control" id="longitude" placeholder="-98.35" ng-model="queryCtrl.formData.longitude" readonly>
    </div>
    <div class="form-group">
        <label for="distance">Max. Distance (miles)</label>
        <input type="text" class="form-control" id="distance" placeholder="500" ng-model="queryCtrl.formData.distance">
    </div>


    <button type="submit" class="btn btn-danger btn-block" ng-click="queryCtrl.findClosestPoints()" ng-disabled="!queryCtrl.formData.distance">Search Close Points</button>
</br>
<div align="center">
    <button type="button" class="btn btn-warning btn-md" ng-click="queryCtrl.goToView('Area Intersection')">Intersection Area</button>
    <button type="button" class="btn btn-Info btn-md" ng-click="queryCtrl.goToView('Polyline Intersection')">Linestrings</button>
    <button type="button" class="btn btn-primary btn-md " ng-click="queryCtrl.goToView('Points Inside Area')">Points Inside Area</button>
</div>
</form>

</br>

<!-- Footer panel for displaying count -->
<div ng-show="queryCtrl.showBox" class="panel-footer fadeIn">
    <p ng-if="queryCtrl.queryCount >0" class="text-center">We Found {{queryCtrl.queryCount}} {{queryCtrl.neighbours}}.</p>
    <p ng-if="queryCtrl.queryCount === 0" class="text-center">{{queryCtrl.neighbours}}</p>
</div>
