<!-- Creates Form -->
<form name="pointsInsideAreaForm" class="fadeIn">

    <h4 align="center">Points Inside Area</h4>

    <div class="form-group">
        <label for="area1">Polygon Id</label>
        <input type="text" class="form-control" id="area1" placeholder="Kamchatka" ng-model="queryCtrl.formData.area1">
    </div>

    <!-- Query button. Note that its tied to queryUsers() function from queryCtrl.  -->
    <button type="submit" class="btn btn-danger btn-block" ng-click="queryCtrl.findPointsInsidePolygon()" ng-disabled="!queryCtrl.formData.area1.length">Search Points inside Area</button>
    </br>
    <div align="center">
      <button type="button" class="btn btn-success btn-md " ng-click="queryCtrl.goToView('Close Points')">Close Points</button>
      <button type="button" class="btn btn-warning btn-md " ng-click="queryCtrl.goToView('Area Intersection')">Inters Area</button>
      <button type="button" class="btn btn-primary btn-md " ng-click="queryCtrl.goToView('Polyline Intersection')">Linestrings</button>
    </div>
</form>

</br>

<!-- Footer panel for displaying count -->
<div ng-show="queryCtrl.showBox" class="panel-footer fadeIn">
    <p class="text-center">{{queryCtrl.points}}</p>
</div>
