<!-- Creates Form -->
<form name="polylinesIntersectionForm" class="fadeIn">

    <h4 align="center">Polylines Intersection</h4>
    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
    <div class="form-group">
        <label for="poly1">First Polyline Id</label>
        <input type="text" class="form-control" id="poly1" placeholder="I'm a polyline" ng-model="queryCtrl.formData.poly1">
    </div>

    <div class="form-group">
        <label for="poly2">Second Polyline Id</label>
        <input type="text" class="form-control" id="poly2" placeholder="Maybe, I'm a polyline" ng-model="queryCtrl.formData.poly2">
    </div>

    <button type="submit" class="btn btn-danger btn-block" ng-click="" ng-disabled="!queryCtrl.formData.poly1.length || !queryCtrl.formData.poly2.length">Search Intersections</button>
    </br>
    <div align="center">
      <button type="button" class="btn btn-success btn-md " ng-click="queryCtrl.goToView('Close Points')">Close Points</button>
      <button type="button" class="btn btn-warning btn-md " ng-click="queryCtrl.goToView('Area Intersection')">Inters Area</button>
      <button type="button" class="btn btn-primary btn-md " ng-click="queryCtrl.goToView('Points Inside Area')">Points Inside Area</button>
    </div>
</form>

</br>

<div ng-show="queryCtrl.polyIntersectionFound" class="panel-footer fadeIn">
  <p class="text-center">Found Intersection between {{queryCtrl.formData.poly1}} and {{queryCtrl.formData.poly2}}</p>
</div>
