<!-- query-form.html -->

<!-- Find Teammates (Query) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">GeoSpatial Queries
                <span class="glyphicon glyphicon-search"></span>
            </h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body" ng-include src="queryCtrl.formView"></div>
    </div>
</div>